services:
  jh:
    build:
      context: .
      dockerfile: dockerfile
      args:
        - SITE_URL=${SITE_URL_PROD:-https://www.jh.de}
    environment:
      - NODE_ENV=production
    expose:
      - "3000"
    restart: always
    networks:
      - dokploy-network
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 128M

networks:
  dokploy-network:
    external: true
